.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

p > span.yellowMarker {
  font-weight: bold;
  background: linear-gradient(
    transparent 50%,
    #fcff52 60% 90%,
    transparent 90%
  );
}
